* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
section {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right, #434343 0%, black 100%);
    /* background-color: rgb(16, 16, 16); */
}

section>header {
    display: flex;
    background-color:black;
}
section>header>.div1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:black;
    color: white;
    font-size: 22px;
}
section>header>.div1 h2{
    position:relative;
    left: 150px;
    /* background-color: yellow; */

}
section>header>.div {
    height: 70px;
    /*header Height*/
    width: 100%;
    /* background-color: black; */
    /* border: 2px solid black; */
}

section>header>.div2 {
    display: flex;
    align-items: center;
}

section>header>.div2 ul {
    display: flex;
    list-style-type: none;
    /* border: 2px solid black; */
    font-size: 18px;
    margin-left: 60px;

}

section>header>.div2 ul li {
    padding: 5px 12px;
    margin-right: 7px;
    /* font-weight:535; */
    font-weight: bold;
    border-radius: 7px;
    /* color:black; */
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid rgb(22, 22, 22);
    cursor: pointer;
    color: white;
}

section>header>.div2 ul li:hover {
    color: rgb(71, 255, 255);
    /* background-color: rgb(94,94,94); */
    box-shadow:2px 2px 2px rgb(61, 61, 61);
    background-color: rgb(59, 59, 59);
    border:2px solid transparent;
   

}

section>main {
    height: 89vh;
    width: 100%;
    /* background-color:yellow; */
    display: flex;
}

section>main>.mainbody {
    height: 100%;
    width: 50%;
    /* border: 2px solid black; */
    /* background-color: red; */
}

section>main>.lsidebar {
    display: flex;
    align-items: center;
    /* background-color: black; */
    width: 70%;
}

section>main>.lsidebar>.forintro {
    height: 320px;
    width: 100%;
    margin-left: 70px;
    /* background-color:yellow; */
    font-family: Arial, Helvetica, sans-serif;
}

section>main>.lsidebar>.forintro h1 {
    font-size: 45px;
    margin: 2px 0px;
    color: white;
    
}

section>main>.lsidebar>.forintro h3 {
    font-size: 30px;
    color: white;
}

section>main>.lsidebar>.forintro p {
    margin-top: 10px;
    color: white;
}

section>main>.lsidebar>.forintro>.div {
    height: 60%;
    /* border: 2px solid black; */
}

section>main>.lsidebar>.forintro>.div2 {
    display: flex;
    height: 53px;
    width: 33%;
    

    /* border: 2px solid black; */

}

section>main>.lsidebar>.forintro>.div2>.icondiv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 60px;
    background-color:rgb(0, 0, 0);
    border-radius: 10px;
    /* border: 2px solid white; */
    font-size: 33px;
    margin-right: 13px;
}

section>main>.lsidebar>.forintro>.div2>.icondiv1:hover{
    transition: 0.3s;
    font-size: 37px;
    border-radius: 50%;
    cursor:pointer;
    background-color: rgb(30, 20, 20);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
section>main>.lsidebar>.forintro>.div2>.icondiv2:hover{
    transition: 0.3s;
    font-size: 37px;
    border-radius: 50%;
    cursor:pointer;
    background-color: rgb(30, 20, 20);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
section>main>.lsidebar>.forintro>.div2>.icondiv3:hover{
    transition: 0.3s;
    font-size: 37px;
    border-radius: 50%;
    cursor:pointer;
    background-color: rgb(30, 20, 20);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
section>main>.lsidebar>.forintro>.div2>.icondiv4:hover{
    transition: 0.3s;
    font-size: 37px;
    border-radius: 50%;
    cursor:pointer;
    background-color: rgb(30, 20, 20);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

section>main>.lsidebar>.forintro>.download {
    display: flex;
    justify-content: center;
    align-items: center;
}

section>main>.lsidebar>.forintro>.download>button {
    height: 40px;
    width: 160px;
    font-size: 17px;
    font-weight: 550;
    border-radius: 50px;
    margin-top:8px;
    border:transparent;
    background-color: aqua;
}
section>main>.lsidebar>.forintro>.download>button:hover{
    border-radius: 50px;
    background-color: rgb(45, 195, 195);
    font-size: 17px;
    transition: 0.3s;
    border:2px solid transparent;
    height: 41px;
    width: 161px;
   
    /* text-shadow:0px 0px 1px black; */
}
section>main>.rsidebar{

}
section>main>.rsidebar>.forpicback{
   
    position: relative;
    /* margin-top: 3%; */
    height: 300px;
    width: 300px;
    top:5px;
    left:80px;
    border-radius: 450%;

    /* padding:50px 0px; */
    background-color:rgb(63, 61, 61);
   
   
}
section>main>.rsidebar>.imgbackground{
    position: relative;
    bottom:283px;
    height: 553px;
    width:565px;
    background-image: url(./sarfaraz.png);
    /* background-color: blue; */
    background-repeat: no-repeat;
    background-size:cover; 
}

